---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Acerca de">
  <h1>Acerca de</h1>
  <p>
  Esta pagina web fue creada por Daniel Ines como trabajo para la asignatura de TIC
  </p>
</BaseLayout>