---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Blog">
  <h1>¿Que es?</h1>
<p>En esta pagina web encontraras información de la historia que tiene detras el edificio de escuela ideo , y de que era antes de ser un colegio.</p>

</BaseLayout>