---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Contacto">
  <h1>Contacto</h1>

  <div class="contactblock">
    <div class="info">
      <p>
    Contacta con nosotros para cualquier problema que tengas , con este formulario
      </p>

    </div>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeRwY3Ax4xgwdXf8BnWf58w4Z_rJHepX8WneRQ1FlGt6nTFLQ/viewform?embedded=true" width="640" height="610" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
  </div>
</BaseLayout>