---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Historia">
  <h1>Historia del edificio de Escuela Ideo Madrid</h1>
  <p>El edificio de Escuela Ideo paso de ser un monasterio a una escuela . Las monjas que vivian ahí anteriormente ahora son nuestras vecinas , ellas al ver que el monasterio era muy grande y muy complicado de mantener . Construyeron uno más pequeño al lado nuestro y allí siguen . Mientras, el enorme monasterio de El Goloso, con sus cientos de ventanas que le daban un aire de pequeño Escorial, se quedó vacío…hasta que los miembros de la gran familia de Escuela Ideo hemos llegado para darle una nueva vida.</p>

          <a href="/">
            <img src={Astro.resolve('../assets/image.svg')} />
          </a>
</BaseLayout>

